# picasso .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.row1 {
  display: inline-flex;
  background-color: aqua;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  right: 50%;
}
.row2 {
  display: inline-flex;
  background-color: aqua;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 25%;
  right: 75%;
}
.row3 {
  display: inline-flex;
  background-color: aqua;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 75%;
  right: 25%;
}
