#picasso .container {
  display: grid;
  position: relative;
}
.row1 {
  display: inline-flex;
  background-color: aqua;
  width: 100px;
  height: 100px;
}
.row2 {
  display: inline-flex;
  background-color: aqua;
  width: 100px;
  height: 100px;
}
.row3 {
  display: inline-flex;
  background-color: aqua;
  width: 100px;
  height: 100px;
}

.container2 {
  display: grid;
  position: relative;
  width: auto;
}
.row4 {
  display: inline-flex;
  background-color: aqua;
  width: 100%;
  height: 100px;
}
.arrow-up {
  display: inline-flex;

  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 100px solid rgb(49, 172, 88);
  position: relative;
  top: 150%;
  left: 50%;
  z-index: 5;
}
.arrow-up1 {
  display: inline-flex;

  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 150px solid rgba(37, 97, 29, 0.612);
  position: relative;
  left: 60%;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  position: relative;
  left: 20%;
  bottom: 10%;
}
.circle1 {
  width: 100px;

  height: 100px;

  background-color: #217533;

  border-radius: 50%;
  position: relative;
  left: 60%;
  top: 20%;
}
.circle2 {
  width: 100px;

  height: 100px;

  background-color: #db347a;

  border-radius: 50%;
  position: relative;
  left: 10%;
  bottom: 30%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
/* @media screen and (max-width: 400px) {
  .parent {
    width: auto;
  }
} */
